* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

.title {
  text-align: center;
  margin: 1rem 0 1rem;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.name {
  text-align: center;
  margin-bottom: 0.5rem;
}

.info {
  max-width: 500px;
  padding: 0.5rem;
  margin: 0 auto 1rem;
  text-align: center;
  border: 1px solid black;
  width: 90%;
}

.playerBoard,
.compBoard {
  flex-grow: 1;
}
.board {
  margin: auto;
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
  gap: 2px;
  display: grid;
  aspect-ratio: 1;
  grid-template-columns: repeat(10, 1fr);
  cursor: crosshair;
  background-color: blue;
}

.board div {
  /* border: 1px solid black; */
  border-radius: 8px;
  cursor: crosshair;
  background-color: white;
}

/* .compBoard .board div { */
/*   background-color: white; */
/* } */

.board div[aria-disabled="true"] {
  cursor: not-allowed;
}
.board div[aria-disabled="true"]:hover {
  background-color: red;
}
.board div[aria-disabled="true"]:active {
  pointer-events: none;
}

.restartBtn {
  background: grey;
}

.modal {
  flex-direction: column;
  margin: auto;
  width: 600px;
  aspect-ratio: 1;
}

.modal .board {
  flex-grow: 1;
}

.board .hover {
  background-color: green;
}
