.title {
  composes: title from "./gameUi.css";
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  margin: auto;
  width: 90%;
  max-width: 500px;
  aspect-ratio: 1;
}

.board div {
  border: 1px solid black;
}

.button {
  composes: start from "./startMenuUi.css";
}
.button[aria-disabled="true"],
.button:active {
  box-shadow: 0px 0px;
  translate: 0px 10px;
  color: grey;
  border: 1px solid black;
}
