.board {
  width: 300px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board div {
  border: 1px solid black;
}

.ship {
  background: black;
}

.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}

.disabled {
  background-color: pink;
}

.bigTitle {
  text-align: center;
}
.boardWrapper {
  display: flex;
  gap: 1rem;
}
.boardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.listOfShips {
  width: 62px;
}

.listOfShips div {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  height: 10px;
  margin-bottom: 3px;
}

.shipSunk .smallTile {
  background-color: red;
}

.smallTile {
  background-color: black;
  width: 10px;
}
