* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* protest-guerrilla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Protest Guerrilla";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/protest-guerrilla-v2-latin-regular.woff2") format("woff2");
}
/* orbitron-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/orbitron-v31-latin-500.woff2") format("woff2");
}

/* TODO: change font family */
.container {
  width: 90%;
  margin-inline: auto;
}

.board {
  min-width: 300px;
  width: 80vw;
  max-width: 375px;
  aspect-ratio: 1/1;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-shadow: 0.3rem 0.3rem 0 black;
}

.board[data-board="computer"] {
  cursor: crosshair;
}

.board div {
  border: 1px solid black;
}

.ship {
  background: black;
  touch-action: none;
}

.allowDrag {
  cursor: move;
}

.dim {
  opacity: 0.5;
}
.drag {
  background-color: grey;
}

.hit {
  background-color: red;
  cursor: not-allowed;
}

.miss {
  background-color: blue;
  cursor: not-allowed;
}

.bigTitle {
  font-family: "Protest Guerrilla";
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem;
}

.mainBoardWrapper {
  display: flex;
  gap: 1rem;
  font-family: "Orbitron";
}

.boardName {
  text-align: center;
  margin-top: 1rem;
}

.boardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  gap: 2rem;
}

@media (max-width: 1050px) {
  .listOfShips {
    display: none;
  }
}

.buttonContainer {
  display: flex;
  margin: 1rem 0;
}
.buttonContainer button {
  font-family: "Orbitron";
  display: inline-block;
  margin-inline: auto;
}

button {
  padding: 0.5rem 1rem;
  box-shadow: 0.3rem 0.3rem black;
}

button:active {
  translate: 0.3rem 0.3rem;
  box-shadow: 0 0;
}

.listOfShips {
  width: 62px;
}
.listOfShipsLeft,
.listOfShipsRight {
  composes: listOfShips;
}

.listOfShipsRight div {
  justify-content: left;
}
.listOfShips div {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  height: 10px;
  margin-bottom: 3px;
}

.shipSunk .smallTile {
  background-color: red;
}

.smallTile {
  background-color: black;
  width: 10px;
}

.messageInfo {
  font-family: Orbitron;
  border: 2px solid black;
  text-align: center;
  padding: 1rem;
  width: 90%;
  margin: 2rem auto;
  max-width: 1000px;
}

.messageInfo p {
  font-size: max(0.8rem, min(2vw, 1rem));
}
